<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSE Demo</title>
</head>
<body>
    <h1>实时事件</h1>
    <div id="events"></div>

    <script>
        const eventSource = new EventSource('/sse/events/');

        eventSource.onmessage = function(event) {
            const eventData = event.data;
            const eventsDiv = document.getElementById('events');
            const newMessage = document.createElement('p');
            newMessage.textContent = eventData;
            eventsDiv.appendChild(newMessage);

            // 在接收到数据后关闭连接
            eventSource.close();
        };

        eventSource.onerror = function(event) {
            console.error("SSE Errordsaf:", event);
            // 输出错误信息
            alert("发生错误: " + JSON.stringify(event));
        };
    </script>
</body>
</html>
